<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>macOS Widgets Stats from Website</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>macOS Widgets Stats from Website Selector Pack</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.ethansk.macos-widgets-stats-from-website.selectorpack</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>0.12.5</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>MacosWidgetsStatsFromWebsite</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>macos-widgets-stats-from-website</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1205</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://ethansk.github.io/macos-widgets-stats-from-website/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>9PG32PH1UFbECc644qjE4OQtpiILuiPCOUuXvgND2tA=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>macOS Widgets Stats from Website Selector Pack</string>
			<key>UTTypeIdentifier</key>
			<string>com.ethansk.macos-widgets-stats-from-website.selectorpack</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>selectorpack</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.macos-widgets-stats-from-website.selectorpack+json</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
